body{
	height: 100%;
    margin: 0;
    padding: 0;
}
body{
	background: url(../img/comppatter.png) repeat;
}
html { 
/* 	position:relative; */
 	min-height:100%;
	margin: 0;
    padding: 0;
}
.container_big{
	height: 100%;
	margin-bottom: -82px;
}
.page-buffer {
    height: 82px;
}
p{
	margin: 0;
	padding: 0;
}
/*/////////////////шапка/////////////////////*/
.container_top{
	padding: 0;
	background: #eff3f7;
	min-width: 960px;
}
.container_top::after{
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
position: absolute;
  width: 100%;
  height: 3px;
  z-index: 33;
content: " ";
}
.top{
	margin: 0;
	padding: 0;
	height: 119px;
}
.logo{
	margin-left: 77px;
	margin-top: 39px;
	margin-bottom: 39px;
	display: inline-block;
}
.logo-link{
	margin-left: -500px;
}
.share{
	margin-top: 33px;
/*	display: inline-block;*/
	width:270px;
	float: right;
	margin-right: 63px;
/*
	position: relative;
  	top: -40px;
  	left: 696px;
*/
}
.shared{
	margin: 0;
	padding: 0;
	font-size: 0;
}
.social{
	display: inline-block;
	margin-left: 22px;
}
.social:first-child{
	margin-left: 0;
}
/*
.social-list{
	display: block;
}
*/
.sprite { 
	background: url('../img/sprite-copy.png') no-repeat top left; 
	width: 47px; 
	height: 47px; 
	display: inline-block;
}
.vk { 
	background-position: -399px 0; 
} 
.vk:hover { 
	background-position: -451px 0; 
} 
.tw { 
	background-position: -503px 0; 
} 
.tw:hover {
	background-position: -555px 0; 
} 
.github { 
	background-position: -607px 0; 
} 
.github:hover { 
	background-position: -659px 0; 
} 
.facebook { 
	background-position: -711px 0; 
} 
.facebook:hover { 
	background-position: -763px 0; 
}
/*////////////контайнер/////////////////*/
.container{
	width: 960px;
	margin: 0 auto;
/*	padding-bottom: 180px;*/
/*	margin-left: 220px;*/
	padding-top: 40px;
	height: 100%;
}
/*//////////////меню////////////////*/
.menu{
	width: 250px;
	float: left;
}
.about{
	margin-bottom: 25px;
	background-color: #eff3f7;
	border-radius: 3%;
	max-height: 219px;
	overflow: hidden;
}
.section{
	list-style-type:none;
}
.section:last-child{
	border:none;
}
.section_linc{
	border-bottom: 2px solid rgb(59, 168, 192);
	display: block;
	margin: 0 10px -2px;
	padding: 20px 20px 15px;
	text-decoration: none;
	color: #959aa8;
	font: 300 21px fira_sansbook;
	
}
.left_list{
	padding: 0;
	margin: 0;
}
.section_linc:hover{
	color: #3ba8c0;
}
.active{
	background: #3ba8c0;
	width: 250px;
	border:none;
	color: #f9fafb;
}
.active:hover{
	color: #f9fafb;
}
.contact{
	width: 250px;
	border-radius: 3%;
/*	background: #51daf8;*/
	overflow: hidden;
}
.contacts{
	background-color: rgb(59, 168, 192);
	color: #fbfcfd;
	font: 300 21px fira_sansbook;
	list-style-type:none;
	padding: 12px 0 1px 19px;	
}
.contact-section{
	background: url(../img/sprite5.png) 21px center no-repeat;
}
.contack_link{
	text-decoration: none;
	display: block;
	color: #ffffff;
	font: 300 17px fira_sansbook;
	padding: 6px 0 5px 53px;
	margin-left: 25px;
}
.contack_link:hover{
	text-decoration: underline;
}
.email{
    background-color: rgb(65, 185, 212);
	background-position: 45px 10px; 
}
.phone {
	background-color: #48cbe8;
	background-position: 45px -68px; 
} 
.skype {
	background-color: #51daf8;
	background-position:  45px -147px; 
} 
/*////////////////инфо//////////////////*/
.info{
	width: 650px;
	float: right;
}
.basic_info{
	background-color: #eff3f7;
	margin-bottom: 25px;
	border-radius: 4px;
}
.information{
	width: 341px;
	border-bottom: 2px solid #3ba8c0;
	padding-top: 14px;
	padding-bottom: 9px;
}
.information-title{
	color: #3ba8c0;
	font: 300 27px  fira_sansbook;
	margin: 0;
	margin-left: 21px;
}
.photo{
	width: 150px;
	display: inline-block;
	margin-left: 55px;
	margin-right: 26px;
	position: absolute;
  	top: 268px;
}	
.picture{
	border-radius: 50%;
 	border: 4px solid #30a6bd;
	width: 142px;
	height: 142px;
}
/*////////////профиль/////////////////////*/
.profile{
	display: inline-block;
	margin-left: 226px;
	width: 370px;
}
.personal{
	color: #37424d;
	font: 300 15px fira_sansbook;
	list-style-type:none;
	margin-bottom: 7px;
}
.prof{
	color: #4a545d;
	font: 500 17px fira_sansmedium;
	margin-right: 19px;
}
.jobs{
	display: inline-block;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 15px;
}
.key_skills{
	width: 210px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	display: inline-block;
	margin-left: 180px;
  	margin-top: -20px;
}
.skills{
  background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 9px;
	margin-right: 9px;
}
.skills:nth-child(3){
	margin-right: 0;
}
.skills:nth-child(4){
	margin-bottom: 0;
}
.skills:nth-child(5){
	margin-bottom: 0;
}
.skil{
	color: #ffffff;
	font: 600 14px ProximaNovaCond;
	padding: 5px 10px;	
}

/*//////////////////опыт работы//////////////*/
.experience{
	background: #eff3f7;
	margin-bottom: 37px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
}
.experience-head{
	width: 209px;
	border-bottom: 2px solid #3ba8c0;
	padding-top: 14px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.work{
	color: #4a545d;
	font: 300 17px fira_sansbook;
}
.work-padding{
	padding-bottom: 47px;
}
.period{
	display: block;
	width: 293px;
}
/*
.basic-img{
	background: url(../img/basic.png) no-repeat top left;
}
*/
.working{
	list-style-type:none;
	background:url(../img/basic.png) 55px -47px no-repeat;
	height: 35px;
	padding-left: 124px;
	width: 297px;
}

.educated{
	background: #eff3f7;
	padding-top: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
}
.education{
	list-style-type:none;
	background: url(../img/basic.png) 55px -96px no-repeat;
	height: 35px;
	padding-left: 124px;
	margin-bottom: 25px;
	width: 297px;
}
.curs{
	background: url(../img/basic.png) 65px 0 no-repeat;
}
.education-head{
	width: 214px;
	border-bottom: 2px solid #3ba8c0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
/*/////////////////подвал///////////////*/
.bottom{
	background-color: #eff3f7;
	height:82px;
	width: 100%;
/*	position: absolute;*/
}
.bottom::before{
  background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	position: absolute;
  width: 100%;
  height: 3px;
  z-index: 11;
  content: "";
}
 .footer{
	color: #4a545d;
	font: 300 13px fira_sansbook;
	display: inline-block;
	margin-left: 233px;
 }
.login { 
	background-position: -292px 0; 
	width: 20px; 
	height: 32px;
	margin-left: 230px;
	margin-top: 22px;
	display: inline-block;
} 
.login:hover{ 
	background-position: -317px 0; 
	width: 20px; 
	height: 32px; 
} 
.login-link{
	width: 100%;
	height: 100%;
	display: block;
}
/*
\\\\\\\\\\\\\\\конец подвала\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\second.html\\\\\\\\\\\\\\\\
*/
.saver{
	background: rgba(1, 108, 164, 0.75) repeat;
	bottom: 0;
    position: fixed;
	display: none;
    left: 0;
    right: 0;
    top: 0;
	z-index: 999;
}
.block{
	display: block;
}
.my-work{
	float: right;
	width: 632px;
	padding-left: 18px;
	background-color: #eff3f7;
	min-height: 839px;
	border-radius: 1%;
	margin-bottom: 39px;
}
.head-second{
	margin-bottom: 31px;
	margin-left: -18px;
	width: 202px;
}
.site{
	width: 183px; 
	display: inline-block;
	border-radius: 3%;
	margin-right: 30px;
	margin-bottom: 35px;
}
.site:nth-child(4){
	margin-right: 0;
}
.portfoli{
	background: url(../img/sprite6.png) no-repeat top left; 
	width: 183px; 
	height: 129px;
	margin-bottom: 10px;
}
.port{
	width: 175px; 
	height: 121px;
	background: rgba(1, 108, 164, 0.75);
	border: 3px solid #3ba8c0;
	position: absolute;
	border-radius: 4px;
	opacity: 0;
}
.port:hover{
	opacity: 1;
}
.action{
	color: #eff3f7;
	font: 300 12px fira_sansbook;
	display: inline-block;
	border: 2px solid #eff3f7;
	padding: 3px;
	border-radius: 4px;
	margin-top: 45px;
  	margin-left: 50px;
}
.portfoli-1{
	background-position: 0 0;
}
.portfoli-2{
	background-position: 0 -139px;
}
.portfoli-3{
	background-position: 0 -278px; width: 184px;
}
.portfoli-4{
	background-position: 0 -417px;
}
.portfoli-5{
	background: url(../img/add.png) 75px 32px no-repeat rgba(236, 251, 255, 0.64) ;
	border: 1px dashed #3ba8c0;
	height: 129px;
	position: relative;
  	top: -35px;
  	border-radius: 3%;
}
.project{
	background: url(../img/add.png) 75px 32px no-repeat rgba(236, 251, 255, 0.64) ;
  	width: 133px;
	height: 52px;
	color: #3ba8c0;
	font: 300 13px  fira_sanslight;
	position: absolute;
  	top: 499px;
	border: 1px dashed #3ba8c0;
	border-radius: 4px;
	display: inline-block;
	padding-top: 75px;
	padding-left: 50px;
}
.link{
	color: rgb(59, 168, 192);
	font: 300 13px fira_sanslight_italic;
	text-align: center;
	width: 65px;
	margin: 0 auto;
	margin-bottom: 1px;
	text-decoration: none;
}
.preview{
	color: #4a545d;
	font: 300 15px fira_sansbook;
	width: 170px;
	text-align: center;
	margin: 0 auto;
}
/*////////////////popup upload\\\\\\\\\\\\\\\*/
.uploat{
	width: 362px;
	height: 512px;
	background: #eff3f7;
	position: absolute;
  	left: 650px;
  	top: 400px;
	border-radius: 4px;
  	overflow: hidden;
    display: none;
	z-index: 1000;
}
.uploat-show{
	display: block;
}
.uploat-close{
	background:url(../img/close.png) no-repeat;
	width: 25px;
	height: 25px;
	position: relative;
	top: 6px;
	left: 55px;
	display: inline-block;
}
.upload-header{
	background: #48cbe8;
	color: #ffffff;
	font: 400 25px fira_sansbook;
	padding-left: 10px;
	border-bottom:9px solid #67dffa;
}
.name{
	color: #959aa8;
	font: 300 17px fira_sansregular;
	margin-left: 21px;
	padding-top: 8px;
}
.upload-name{
	width: 308px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	margin: 0 auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.upload-text{
	width: 318px;
	height: 109px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	resize: none;
	padding-left: 10px;
}
input[type="file"]{


}
div.fileinputs {
    position: relative;
	margin-top: 9px;
}
div.fakefile {
    position: absolute;
    top: 0px;
    left: 21px;
    z-index: 1;
	width: 320px;
}
input.file {
    position: relative;
	top: 30px;
  	left: 21px;
	width: 320px;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
	margin-bottom: 45px;
}
.pic{
/*	background: url(../img/upload.png) no-repeat;*/
	width: 52px;
	height: 40px;
  	position: absolute;
  	top: 27px;
  	left: 268px;
  	border: none;
}
.name-text{
	padding: 0;
	margin: 0;
	color: #959aa8;
	font: 300 17px fira_sansbook;
}
.send{
	width: 140px;
	background-color: #48cbe8;
	border-radius: 5px;
/*	border: none;*/
	margin-left: 110px;
	margin-top: 15px;
	padding-top: 5px;
	color: #ffffff;
	font: 300 19px fira_sansbook;
	border-bottom: 4px solid #3ba8c0;
}
.send:hover{
	border-bottom: none;
}
.send:active{
	border-bottom: none;
	border-top: 4px solid #3ba8c0;
	padding-top: 3px;
}
input::-moz-placeholder { 
	color: #48cbe8;
	font: 300 13px fira_sansbook;
}
input::-webkit-input-placeholder { 
	color: #48cbe8;
	font: 300 13px fira_sansbook;
}
textarea::-moz-placeholder{
	color: #48cbe8;
	font: 300 13px fira_sansbook;
}
textarea::-webkit-input-placeholder{
	color: #48cbe8;
	font: 300 13px fira_sansbook;
}
/*\\\\\\\\\\\\\\\contact.html\\\\\\\\\\\\\\\\\\\*/
.bg{
	background: #eff3f7;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 39px;
}
.contact-head{
	background: #48cbe8;
	border-bottom: 17px solid #67dffa;
	margin-bottom: 48px;
	padding: 48px 0;
  	padding-left: 59px;
}
.write-my{
	color: #ffffff;
	font: 300 27px fira_sansbook;
	margin: 0;
	padding: 0;
}
.info-contact{
	width: 192px;
	display: inline-block;
	margin-right: 17px;
}
.info-wrap{
	margin: 0;
	padding: 0;
	padding-left: 124px;
}
.contact-name{
	color: #959aa8;
	font: 300 19px fira_sansbook;
	padding: 0;
	margin: 0;
}
.send-name{
	width: 181px;
	height: 41px;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	padding-left: 9px;
}
megasse{
	width: 400px;
	border:1px solid #48cbe8;
}
.contact-text{
	width: 387px;
	height: 168px;
	border:1px solid #48cbe8;
	border-radius: 4px;
	resize: none;
	padding-left: 9px;
	padding-top: 9px;
}
.capcha-text{
	color: #959aa8;
	font: 300 17px fira_sansbook;
}
.capcha-img{
	width: 187px;
	height: 75px;
	border:1px solid #48cbe8;
	background: url(../img/capcha.png) 14px 17px no-repeat #fbfcfd;
	display: inline-block;
}
.capcha-send{
	display:inline-block;
	position: relative;
  	top: -34px;
  	left: 20px;
	border-radius: 4px;
}
.info-button{
	margin: 0;
	margin-bottom: 185px;
}
.upload-info{
	position: relative;
  	left: -110px;
}
.reset{
	width: 140px;
	border-radius: 5px;
	background-color: #849db5;
	color: #ffffff;
	font: 300 19px fira_sansbook;
	margin-left: 10px;
	padding-top: 5px;
	border-bottom: 4px solid #687b8f;
}
.reset:hover{
	border-bottom: none;
}
.reset:active{
	border-bottom: none;
	border-top: 4px solid #687b8f;
}

/*\\\\\\\\\\\\\\entrance.html/////////////////////*/
.logon{
	width: 590px;
	background: #eff3f7;
	box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29);
	border-radius: 4px;
	overflow: hidden;
	margin: 277px auto;
}
.logon-head{
	background: #48cbe8;
	border-bottom: 15px solid #67dffa;
	padding-top: 29px;
	padding-left: 134px;
}
.logon-user{
	color: #959aa8;
	font: 300 36px fira_sansbook;
	margin-left: 243px;
	margin-top: 29px;
}
.authorization{
	color: #ffffff;
	font: 300 40px fira_sansbook;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
}
.username-log{
	width: 405px;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	padding: 20px;
	margin-left: 83px;
/*	padding-left: 15px;*/
}
.logon-send{
	width: 226px;
	color: #f6f6f6;
	font: 300 36px fira_sansbook;
	padding-left: 64px;
	padding-right: 64px;
	margin-left: 182px;
	margin-bottom: 23px;
	border-radius: 8px;
	border-bottom: 4px solid #3ba8c0;
}
.add-set { 
	background-position: 0 0; 
	width: 32px; 
	height: 32px; 
} 
.close { 
	background-position: -37px 0; 
	width: 25px; 
	height: 25px; 
} 
.close-error { 
	background-position: -67px 0; 
	width: 11px; 
	height: 11px; 
} 
.close-suc { 
	background-position: -83px 0; 
	width: 11px; 
	height: 11px; 
} 
.job { 
	background-position: -130px 0; 
	width: 36px; 
	height: 34px;
} 
.uch { 
	background-position: -171px 0; 
	width: 41px; 
	height: 23px; 
} 
.upload { 
	background-position: -342px 0; 
	width: 52px; 
	height: 41px; 
} 
.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
